{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<header class="text-center text-white">
<div class="container row justify-content-center ">
	<div class="jumbotron col-8 my-5 bg-dark text-white">
		<form action="{% url 'book-event' event.id %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | crispy }}
			<div class="justify-content-center">
              <input class = "btn btn-outline-info btn-xl rounded-pill" type="submit" value="Book Event">
            </div>
		</form>
	</div>
</div>
</header>
{% endblock content %}