{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
	<div class="col-6 my-5">
		<div class="card bg-dark text-white">
			<img src="{{event.poster.url}}" class="card-img ">
			<div class="card-img-overlay"></div>
		</div>
	</div>
	<div class="col-6 my-5">
		<h1 class="card-title big_text_info my_font">{{event.title}}</h1>
		<p class="card-text">{{event.description}}</p>
		<table class="table">
		  <thead>
		    <tr><th scope="col" class= "table-info font-weight-bold" width="120px;">When</th>
		    	<th scope="row">{{event.date}} - {{event.time}}</th>
		    </tr>
		      <tr><th scope="col" class= "table-info font-weight-bold">Where</th>
		      	<td>{{event.location}}</td>
		      </tr>
		      <tr><th scope="col" class= "table-info font-weight-bold">Organized By</th>
		      	<td>{{event.organizer}} 
				
		      	</td>
		      </tr>
		      <tr><th scope="col" class= "table-info font-weight-bold">Seats Number</th>
		      	<td>{{event.capacity}}</td>
		      </tr>
		      <tr><th scope="col" class= "table-info font-weight-bold">Tickets Left</th>
		      	<td>{{left_ticket}}</td>
		      </tr>
		    </tr>
		  </thead>
		</table>
	</div>
</div>
	{% if request.user == event.organizer %}
			<table class="table">
			  <thead class= "table-info">
			    <tr>
			      <th scope="col">User</th>
			      <th scope="col">Tickets</th>
			      <th scope="col">Date</th>
			      <th scope="col">Time</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for booking in guest_list %}
			    	<tr>
				        <td>{{booking.guest.username}}</td>
				        <td>{{booking.seats}}</td>
				        <td>{{booking.event.date}}</td>
				        <td>{{booking.event.time}}</td>
			        </tr>
			    {%endfor%}   
			  </tbody>
			</table>
			<div class="row justify-content-center">
				<div class="mx-3">
				    <a href="{{ event.update_url }}"  >
				    	<input type="submit" value="update" class="btn btn-outline-info btn-xl rounded-pill " {% if left_ticket <= 0 %} disabled {% endif %}/>
				    </a>
				</div>
				<div class="mx-3">
				    <a href="{% url 'book-event' event.id %}"  >
				    	<input type="submit" value="Book Event" class="btn btn-outline-info btn-xl rounded-pill " {% if left_ticket <= 0 %} disabled {% endif %}/>
				    </a>
				</div>
			</div>		
	{% else %}
		<div class="row justify-content-center">
		    <a href="{% url 'book-event' event.id %}"  >
		    	<input type="submit" value="Book Event" class="btn btn-outline-info btn-xl rounded-pill " {% if left_ticket <= 0 %} disabled {% endif %}/>
		    </a>
		</div>	
	{% endif %}

{% endblock content %}