{% extends "base.html" %}
{% block content %}
<div class = "text-center">
  <div class="row">
    
    <div class ="big_text_info"> Events I Organized:</div>
      <table class="table my-5">
        <thead class="table-info">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Capacity</th>
            <th scope="col">Tickets Left</th>
            <th scope="col">More</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
              {% if request.user == event.organizer %}
                <th scope="row">{{event.id}}</th>
                <td>{{event.title}}</td>
                <td>{{event.date}}</td>
                <td>{{event.time}}</td>
                <td>{{event.location}}</td>
                <td>{{event.capacity}}</td>
                <td>{{event.get_left_seats}}</td>
                <td><a href="{{event.get_absolute_url }}">More</a>
              </td>
              {%endif%}
              </tr>
            {%endfor%}   
        </tbody>
      </table>
  </div>

{% endblock content %}


