{% extends "base.html" %}

{% block content %}
<header class="text-center">
  <div>
    <div class="container">
      <p class="home_phrase">All the events,You could ever want...</p>
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-outline-info btn-xl mt-5 rounded-pill">Sign up to find events!</a>
      {% else %}
        <a href="{% url 'event-list' %}" class="btn btn-outline-info btn-xl mt-5 rounded-pill">Find events!</a>
      {% endif %}
    </div>
  </div>
</header>


        
 <div class="row">
  {% for event in events %}
  <div class="col-12 col-sm-6 col-md-3">
    <div class="card my-5">
      <img src="{{event.poster.url}}" class="card-img-top">
      <div class="card-body">
        <h5 class="my_font card-title">{{event.title}}</h5>
        <p class="card-text">{{event.date}}</p>
        <a href="{{ event.get_absolute_url }}" class="btn btn-dark">More Info</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}